Repository PLUB2022/PLUB-iOS, pull requests merged in 2023-04, with the labels that each got.

#243 [FEAT] 투두리스트 UI 구현
  PLUB.xcodeproj/project.pbxproj
  PLUB/Assets.xcassets/Home/Clipboard/heart.imageset/Contents.json
  PLUB/Assets.xcassets/Home/Clipboard/heart.imageset/ant-design_heart-filled.png
  PLUB/Assets.xcassets/Home/Clipboard/heart.imageset/ant-design_heart-filled@2x.png
  PLUB/Assets.xcassets/Home/Clipboard/heart.imageset/ant-design_heart-filled@3x.png
  PLUB/Assets.xcassets/Home/Component/xMarkDeepGray.imageset/Component 5.png
  PLUB/Assets.xcassets/Home/Component/xMarkDeepGray.imageset/Component 5@2x.png
  PLUB/Assets.xcassets/Home/Component/xMarkDeepGray.imageset/Component 5@3x.png
  PLUB/Assets.xcassets/Home/Component/xMarkDeepGray.imageset/Contents.json
  PLUB/Sources/Models/Todolist/Response/InquireAllTodolistResponse.swift
  PLUB/Sources/Network/Routers/TodolistRouter.swift
  PLUB/Sources/Network/Services/TodolistService.swift
  PLUB/Sources/Views/Home/Component/ToggleButton.swift
  PLUB/Sources/Views/Home/MainPage/AddTodoViewController.swift
  PLUB/Sources/Views/Home/MainPage/BoardViewController.swift
  PLUB/Sources/Views/Home/MainPage/Cell/TodoCollectionViewCell.swift
  PLUB/Sources/Views/Home/MainPage/Component/CheckTodoView.swift
  PLUB/Sources/Views/Home/MainPage/Component/TodoAlertController.swift
  PLUB/Sources/Views/Home/MainPage/Component/TodoAlertView.swift
  PLUB/Sources/Views/Home/MainPage/Component/TodoInfoView.swift
  PLUB/Sources/Views/Home/MainPage/Component/TodolistBottomSheetViewController.swift
  PLUB/Sources/Views/Home/MainPage/MainPageViewController.swift
  PLUB/Sources/Views/Home/MainPage/TodolistViewController.swift
Labels: 😎 Enhancement, 🍎 ConfigureUI, D+1, 🥳MainPage

#244 페이징 리팩토링(+PageManager)
  PLUB.xcodeproj/project.pbxproj
  PLUB/Configuration/Manager/PagingManager.swift
  PLUB/Sources/Views/Home/Clipboard/BoardDetailViewController.swift
  PLUB/Sources/Views/Home/Clipboard/ViewModel/BoardDetailViewModel.swift
Labels: 😎 Enhancement, D+2, 🥳MainPage, ♻️Refactoring

#246 [FEAT] 메인페이지 투두리스트 알림창 이미지붙이기
  PLUB/Sources/Views/Home/MainPage/Component/TodoAlertController.swift
  PLUB/Sources/Views/Home/MainPage/Component/TodoAlertView.swift
Labels: 😎 Enhancement, 🍎 ConfigureUI, D+0, 🥳MainPage

#249 [FEAT] 지원질문성공에 따른 알림창 Lottie 적용
  PLUB.xcodeproj/project.pbxproj
  PLUB/Configuration/Lottie/Recruitment/SuccessApply.json
  PLUB/Sources/Views/Home/ApplyQuestionViewController.swift
  PLUB/Sources/Views/Home/Component/HomeAlertController.swift
Labels: 😎 Enhancement, 🍎 ConfigureUI, 🏠 Home, D+0

#251 [CHORE] 커서기반 페이징 변경에 따른 코드 수정
  PLUB/Sources/Network/Routers/MeetingRouter.swift
  PLUB/Sources/Network/Services/MeetingService.swift
  PLUB/Sources/Views/Home/ViewModel/HomeViewModel.swift
  PLUB/Sources/Views/Home/ViewModel/SelectedCategoryViewModel.swift
Labels: 😎 Enhancement, 🏠 Home, 👨‍👩‍👧‍👦 Meeting, D+0

#256 [Network] Request(Response) Model 일부 리팩토링
  PLUB.xcodeproj/project.pbxproj
  PLUB/Configuration/Manager/UserManager.swift
  PLUB/Sources/Models/Account/Request/RegisterInterestRequest.swift
  PLUB/Sources/Models/Account/Response/InquireInterestResponse.swift
  PLUB/Sources/Models/Account/Response/MyInfoResponse.swift
  PLUB/Sources/Models/Auth/Request/SignInRequest.swift
  PLUB/Sources/Models/Auth/Request/SignUpRequest.swift
  PLUB/Sources/Models/Auth/Response/SignInResponse.swift
  PLUB/Sources/Models/Auth/Response/TokenResponse.swift
  PLUB/Sources/Models/Category/Response/AllCategoryListResponse.swift
  PLUB/Sources/Models/Category/Response/MainCategoryListResponse.swift
  PLUB/Sources/Models/Category/Response/SubCategoryListResponse.swift
  PLUB/Sources/Models/Feeds/FeedsContent.swift
  PLUB/Sources/Models/Feeds/Request/BoardsRequest.swift
  PLUB/Sources/Models/Feeds/Request/CommentsRequest.swift
  PLUB/Sources/Models/Feeds/Response/BoardsResponse.swift
  PLUB/Sources/Models/Feeds/Response/FeedsClipboardResponse.swift
  PLUB/Sources/Models/GeneralModels/GeneralResponse.swift
  PLUB/Sources/Models/GeneralModels/PaginatedDataResponse.swift
  PLUB/Sources/Models/GeneralModels/Sex.swift
  PLUB/Sources/Models/GeneralModels/SocialType.swift
  PLUB/Sources/Models/Image/Response/UploadImageResponse.swift
  PLUB/Sources/Models/Meeting/Request/CategoryMeetingRequest.swift
  PLUB/Sources/Models/Meeting/Request/CreateMeetingRequest.swift
  PLUB/Sources/Models/Meeting/Request/EditMeetingInfoRequest.swift
  PLUB/Sources/Models/Meeting/Response/CategoryMeetingResponse.swift
  PLUB/Sources/Models/Meeting/Response/CreateMeetingResponse.swift
  PLUB/Sources/Models/Meeting/Response/MyMeetingResponse.swift
  PLUB/Sources/Models/MyPage/Request/MyPlubbingParameter.swift
  PLUB/Sources/Models/MyPage/Response/MyPlubbingResponse.swift
  PLUB/Sources/Models/Recruitment/Request/ApplyForRecruitmentRequest.swift
  PLUB/Sources/Models/Recruitment/Request/EditMeetingPostRequest.swift
  PLUB/Sources/Models/Recruitment/Request/EditMeetingQuestionRequest.swift
  PLUB/Sources/Models/Recruitment/Request/SearchParameter.swift
  PLUB/Sources/Models/Recruitment/Response/ApplyForRecruitmentResponse.swift
  PLUB/Sources/Models/Recruitment/Response/DetailRecruitmentResponse.swift
  PLUB/Sources/Models/Recruitment/Response/InquireApplicantResponse.swift
  PLUB/Sources/Models/Recruitment/Response/MyApplicationResponse.swift
  PLUB/Sources/Models/Recruitment/Response/RecruitmentQuestionResponse.swift
  PLUB/Sources/Models/Recruitment/Response/RequestBookmarkResponse.swift
  PLUB/Sources/Network/Services/AuthService.swift
  PLUB/Sources/Network/Services/FeedsService.swift
  PLUB/Sources/Network/Services/MyPageService.swift
  PLUB/Sources/Network/Services/TodolistService.swift
  PLUB/Sources/Views/Home/ViewModel/HomeViewModel.swift
  PLUB/Sources/Views/Home/ViewModel/RecruitmentFilterViewModel.swift
  PLUB/Sources/Views/Login/ViewController/LoginViewController.swift
  PLUB/Sources/Views/Login/ViewModel/SignUpViewModel.swift
  PLUB/Sources/Views/Meeting/CreateMeeting/CreateMeetingViewModel.swift
  PLUB/Sources/Views/Meeting/CreateMeeting/ViewController/MeetingDateViewController.swift
  PLUB/Sources/Views/Meeting/CreateMeeting/ViewModel/MeetingDateViewModel.swift
  PLUB/Sources/Views/Meeting/CreateMeeting/ViewModel/MeetingSummaryViewModel.swift
  PLUB/Sources/Views/Meeting/EditMeeting/ViewController/MeetingInfoViewController.swift
  PLUB/Sources/Views/Meeting/EditMeeting/ViewModel/MeetingInfoViewModel.swift
  PLUB/Sources/Views/Meeting/EditMeeting/ViewModel/RecruitPostViewModel.swift
  PLUB/Sources/Views/MyPage/Cell/MyPageSectionHeaderView.swift
  PLUB/Sources/Views/MyPage/MyPageViewController.swift
Labels: D+1, ♻️Refactoring

#253 [FIX] PostType버튼에 따른 시퀀스 처리
  PLUB/Sources/Views/Home/MainPage/CreateBoardViewController.swift
  PLUB/Sources/Views/Home/MainPage/ViewModel/CreateBoardViewModel.swift
Labels: 😎 Enhancement, ✋ Help wanted, D+1, 🥳MainPage

#259 [REFACTOR] 모델 리팩토링
  PLUB.xcodeproj/project.pbxproj
  PLUB/Sources/Models/Recruitment/Response/BookmarkAllResponse.swift
  PLUB/Sources/Models/Recruitment/Response/SearchRecruitmentResponse.swift
  PLUB/Sources/Views/Home/Cell/SelectCategory/SelectedCategoryChartCollectionViewCell.swift
  PLUB/Sources/Views/Home/Model/SelectedCategoryCollectionViewCellModel.swift
  PLUB/Sources/Views/Home/ViewModel/BookmarkViewModel.swift
  PLUB/Sources/Views/Home/ViewModel/HomeViewModel.swift
  PLUB/Sources/Views/Home/ViewModel/SearchInputViewModel.swift
  PLUB/Sources/Views/Home/ViewModel/SelectedCategoryViewModel.swift
Labels: 😎 Enhancement, ✋ Help wanted, ♻️Refactoring

#260 [CHORE] 응답모델과 UI에 사용될 모델 따로 처리
  PLUB.xcodeproj/project.pbxproj
  PLUB/Sources/Models/Category/Response/AllCategoryListResponse.swift
  PLUB/Sources/Views/Home/Cell/DetailRecruitment/ParticipantCollectionViewCell.swift
  PLUB/Sources/Views/Home/Cell/Filter/RecruitmentFilterCollectionHeaderView.swift
  PLUB/Sources/Views/Home/Cell/Filter/RecruitmentFilterCollectionViewCell.swift
  PLUB/Sources/Views/Home/Cell/Home/HomeCollectionViewCell.swift
  PLUB/Sources/Views/Home/Cell/Home/InterestSelectCollectionHeaderView.swift
  PLUB/Sources/Views/Home/Cell/RegisterInterest/InterestTypeCollectionViewCell.swift
  PLUB/Sources/Views/Home/Cell/RegisterInterest/RegisterInterestDetailTableViewCell.swift
  PLUB/Sources/Views/Home/Cell/RegisterInterest/RegisterInterestTableViewCell.swift
  PLUB/Sources/Views/Home/Cell/SelectCategory/SelectedCategoryChartCollectionViewCell.swift
  PLUB/Sources/Views/Home/Cell/SelectCategory/SelectedCategoryGridCollectionViewCell.swift
  PLUB/Sources/Views/Home/Component/CategoryInfoListView.swift
  PLUB/Sources/Views/Home/Component/IntroduceCategoryInfoView.swift
  PLUB/Sources/Views/Home/Component/IntroduceCategoryTitleView.swift
  PLUB/Sources/Views/Home/Component/MeetingIntroduceView.swift
  PLUB/Sources/Views/Home/Component/NoResultSearchView.swift
  PLUB/Sources/Views/Home/Component/ParticipantListView.swift
  PLUB/Sources/Views/Home/Component/SortBottomSheetViewController.swift
  PLUB/Sources/Views/Home/MainPage/Cell/BoardClipboardHeaderView.swift
  PLUB/Sources/Views/Home/MainPage/Cell/BoardSystemCollectionViewCell.swift
  PLUB/Sources/Views/Home/MainPage/Cell/TodoCollectionViewCell.swift
  PLUB/Sources/Views/Home/MeetingSchedule/ScheduleParticipant/Cell/ScheduleParticipantCollectionViewCell.swift
  PLUB/Sources/Views/Home/Model/CategoryModel.swift
  PLUB/Sources/Views/Home/Model/RegisterInterestModel.swift
  PLUB/Sources/Views/Meeting/CreateMeeting/CreateMeetingViewModel.swift
  PLUB/Sources/Views/Meeting/CreateMeeting/ViewModel/MeetingCategoryViewModel.swift
Labels: 😎 Enhancement, D+0, ♻️Refactoring

#263 [FEAT] 메인페이지 헤더뷰 탭 제스처 추가
  PLUB/Sources/Views/Home/MainPage/BoardViewController.swift
  PLUB/Sources/Views/Home/MainPage/Cell/BoardClipboardHeaderView.swift
  PLUB/Sources/Views/Home/MainPage/MainPageViewController.swift
Labels: 😎 Enhancement, D+0, 🥳MainPage

#261 PLUB 네트워크 로직 리팩토링
  PLUB/Sources/Network/Foundation/BaseService.swift
  PLUB/Sources/Network/Foundation/NetworkResult.swift
Labels: D+0, ♻️Refactoring

#266 [FEAT] 마이페이지 > 프로필 편집 기능 구현
  PLUB.xcodeproj/project.pbxproj
  PLUB/Sources/Models/Account/Request/MyInfoRequest.swift
  PLUB/Sources/Models/Image/Request/UpdateImageRequest.swift
  PLUB/Sources/Network/Routers/AccountRouter.swift
  PLUB/Sources/Network/Services/AccountService.swift
  PLUB/Sources/Network/Services/ImageService.swift
  PLUB/Sources/Views/Meeting/MeetingViewController.swift
  PLUB/Sources/Views/MyPage/Cell/MyPageSectionHeaderView.swift
  PLUB/Sources/Views/MyPage/Cell/MyPageTableViewCell.swift
  PLUB/Sources/Views/MyPage/Component/MyProfileView.swift
  PLUB/Sources/Views/MyPage/MyPageViewController.swift
  PLUB/Sources/Views/MyPage/MyPageViewModel.swift
  PLUB/Sources/Views/MyPage/ProfileEdit/ProfileEditViewController.swift
  PLUB/Sources/Views/MyPage/ProfileEdit/ProfileEditViewModel.swift
  PLUB/Sources/Views/MyPage/Recruiting/Cell/RecruitingSectionHeaderView.swift
Labels: 🍎 ConfigureUI, D+1, 👤 MyPage

#272 로깅 구현
  PLUB.xcodeproj/project.pbxproj
  PLUB/Configuration/Utils/Log.swift
  PLUB/Sources/Network/Foundation/BaseService.swift
Labels: 😎 Enhancement

#275 아카이브 API 구현
  PLUB.xcodeproj/project.pbxproj
  PLUB/Sources/Models/Archive/Request/ArchiveRequest.swift
  PLUB/Sources/Models/Archive/Response/ArchiveContent.swift
  PLUB/Sources/Models/Archive/Response/CreateArchiveResponse.swift
  PLUB/Sources/Network/Routers/ArchiveRouter.swift
  PLUB/Sources/Network/Services/ArchiveService.swift
Labels: 😎 Enhancement, D+1, 📕Archive

#277 로그인 - FCM 기능 추가
  PLUB/AppDelegate.swift
  PLUB/Configuration/Manager/UserManager.swift
  PLUB/Sources/Models/Auth/Request/SignInRequest.swift
  PLUB/Sources/Models/Auth/Request/SignUpRequest.swift
  PLUB/Sources/Network/Services/AuthService.swift
Labels: 😎 Enhancement, ✋ Login, D+1

#273 BoardDetailViewModel 리팩토링
  PLUB.xcodeproj/project.pbxproj
  PLUB/Sources/UseCases/GetCommentsUseCase.swift
  PLUB/Sources/UseCases/PostCommentUseCase.swift
  PLUB/Sources/Views/Home/Clipboard/ClipboardViewController.swift
  PLUB/Sources/Views/Home/Clipboard/ViewModel/BoardDetailViewModel.swift
  PLUB/Sources/Views/Home/MainPage/MainPageViewController.swift
Labels: D+1, 🥳MainPage, ♻️Refactoring

#274 [FEAT] 모임 일정 > 수정/삭제/페이징 기능 구현
  PLUB.xcodeproj/project.pbxproj
  PLUB/Assets.xcassets/Meeting/MeetingSchedule/trashRed24.imageset/Contents.json
  PLUB/Assets.xcassets/Meeting/MeetingSchedule/trashRed24.imageset/trashRed24.png
  PLUB/Assets.xcassets/Meeting/MeetingSchedule/trashRed24.imageset/trashRed24@2x.png
  PLUB/Assets.xcassets/Meeting/MeetingSchedule/trashRed24.imageset/trashRed24@3x.png
  PLUB/Configuration/Extensions/Ex+Collection.swift
  PLUB/Configuration/Manager/PagingManager.swift
  PLUB/Sources/Models/Schedule/Response/ScheduleListResponse.swift
  PLUB/Sources/Network/Routers/ScheduleRouter.swift
  PLUB/Sources/Network/Services/ScheduleService.swift
  PLUB/Sources/Views/Home/MeetingSchedule/Cell/ScheduleTableViewCell.swift
  PLUB/Sources/Views/Home/MeetingSchedule/MeetingScheduleViewController.swift
  PLUB/Sources/Views/Home/MeetingSchedule/MeetingScheduleViewModel.swift
  PLUB/Sources/Views/Home/MeetingSchedule/ScheduleParticipant/ScheduleParticipantViewController.swift
  PLUB/Sources/Views/Meeting/Schedule/CreateSchedule/Component/ScheduleAlarmView.swift
  PLUB/Sources/Views/Meeting/Schedule/CreateSchedule/Component/ScheduleBottomSheetViewController.swift
  PLUB/Sources/Views/Meeting/Schedule/CreateSchedule/CreateScheduleViewController.swift
  PLUB/Sources/Views/Meeting/Schedule/CreateSchedule/CreateScheduleViewModel.swift
Labels: 😎 Enhancement, 🍎 ConfigureUI, 👨‍👩‍👧‍👦 Meeting, D+1

#278 [Refactor] Bottom Sheet + Cropping
  PLUB.xcodeproj/project.pbxproj
  PLUB/Configuration/CommonClass/BottomSheetViewController.swift
  PLUB/Sources/Views/Home/Component/ParticipantBottomSheetViewController.swift
  PLUB/Sources/Views/Home/Component/SortBottomSheetViewController.swift
  PLUB/Sources/Views/Home/MainPage/Component/BoardBottomSheetViewController.swift
  PLUB/Sources/Views/Home/MainPage/Component/TodolistBottomSheetViewController.swift
  PLUB/Sources/Views/Meeting/CreateMeeting/Cell/LocationTableViewCell.swift
  PLUB/Sources/Views/Meeting/CreateMeeting/Component/BottomSheetListView.swift
  PLUB/Sources/Views/Meeting/CreateMeeting/Component/DateBottomSheetViewController.swift
  PLUB/Sources/Views/Meeting/CreateMeeting/Component/LocationBaseView.swift
  PLUB/Sources/Views/Meeting/CreateMeeting/Component/LocationBottomSheetViewController.swift
  PLUB/Sources/Views/Meeting/CreateMeeting/Component/PhotoBottomSheetViewController.swift
  PLUB/Sources/Views/Meeting/CreateMeeting/Component/QuestionDeleteBottomSheetViewController.swift
  PLUB/Sources/Views/Meeting/Schedule/CreateSchedule/Component/ScheduleBottomSheetViewController.swift
Labels: 😎 Enhancement, 🍎 ConfigureUI, D+1, ♻️Refactoring

#284 토스트 개발
  PLUB.xcodeproj/project.pbxproj
  PLUB/Configuration/Utils/PLUBToast.swift
Labels: 😎 Enhancement, 🍎 ConfigureUI, D+2

#282 댓글 페이징 시 앱 크래시 이슈
  PLUB/Sources/Views/Home/Clipboard/ViewModel/BoardDetailViewModel.swift
Labels: 🐛 bug, D+0

#280 게시글 답글 기능 구현
  PLUB.xcodeproj/project.pbxproj
  PLUB/Sources/Views/Home/Clipboard/BoardDetailViewController.swift
  PLUB/Sources/Views/Home/Clipboard/Cell/BoardDetailCollectionViewCell.swift
  PLUB/Sources/Views/Home/Clipboard/Component/CommentInputView.swift
  PLUB/Sources/Views/Home/Clipboard/Component/ReplyView.swift
  PLUB/Sources/Views/Home/Clipboard/ViewModel/BoardDetailViewModel.swift
Labels: 😎 Enhancement, 🍎 ConfigureUI, D+1, 🥳MainPage

#279 [FIX] 필터화면로직수정
  PLUB.xcodeproj/project.pbxproj
  PLUB/Sources/Network/Services/CategoryService.swift
  PLUB/Sources/Views/Home/Cell/Filter/RecruitmentFilterCollectionViewCell.swift
  PLUB/Sources/Views/Home/Cell/Filter/RecruitmentFilterDateCollectionViewCell.swift
  PLUB/Sources/Views/Home/RecruitmentFilterViewController.swift
  PLUB/Sources/Views/Home/SelectedCategoryViewController.swift
  PLUB/Sources/Views/Home/ViewModel/RecruitmentFilterViewModel.swift
Labels: 🐛 bug, 😎 Enhancement, 🏠 Home, D+1

#286 아카이브 팝업 창 구현
  PLUB.xcodeproj/project.pbxproj
  PLUB/Sources/Views/Home/Archive/ArchiveViewController.swift
  PLUB/Sources/Views/Home/Archive/Component/ArchivePopUpViewController.swift
Labels: 😎 Enhancement, 🍎 ConfigureUI, D+2, 📕Archive

#289 [FEAT] 최근 검색어목록 유지를 UserDefaults 추가
  PLUB/Configuration/Manager/UserManager.swift
  PLUB/Sources/Views/Home/ViewModel/SearchInputViewModel.swift
Labels: 😎 Enhancement, 🏠 Home, D+0

#287 댓글 옵션 버튼 클릭 시 나타나는 Bottom Sheet
  PLUB.xcodeproj/project.pbxproj
  PLUB/Assets.xcassets/Home/Component/trashRed.imageset/Contents.json
  PLUB/Assets.xcassets/Home/Component/trashRed.imageset/Vector.png
  PLUB/Assets.xcassets/Home/Component/trashRed.imageset/Vector@2x.png
  PLUB/Assets.xcassets/Home/Component/trashRed.imageset/Vector@3x.png
  PLUB/Assets.xcassets/Home/Component/trashRed.imageset/trashRed.png
  PLUB/Assets.xcassets/Home/Component/trashRed.imageset/trashRed@2x.png
  PLUB/Assets.xcassets/Home/Component/trashRed.imageset/trashRed@3x.png
  PLUB/Configuration/CommonClass/BottomSheetViewController.swift
  PLUB/Sources/Views/Home/Clipboard/BoardDetailViewController.swift
  PLUB/Sources/Views/Home/Clipboard/Cell/BoardDetailCollectionViewCell.swift
  PLUB/Sources/Views/Home/Clipboard/Component/CommentOptionBottomSheetViewController.swift
  PLUB/Sources/Views/Home/Clipboard/ViewModel/BoardDetailViewModel.swift
Labels: 🍎 ConfigureUI, D+0, 🥳MainPage

#292 [FEAT] 모집상세글 호스트여부에 따른 구현
  PLUB/Sources/Network/Routers/RecruitmentRouter.swift
  PLUB/Sources/Network/Services/RecruitmentService.swift
  PLUB/Sources/Views/Home/DetailRecruitmentViewController.swift
  PLUB/Sources/Views/Home/Model/SelectedCategoryCollectionViewCellModel.swift
  PLUB/Sources/Views/Home/SelectedCategoryViewController.swift
  PLUB/Sources/Views/Home/ViewModel/DetailRecruitmentViewModel.swift
Labels: 😎 Enhancement, 🏠 Home, D+0

#294 아카이브 API 연동
  PLUB.xcodeproj/project.pbxproj
  PLUB/Configuration/Utils/DateFormatterFactory.swift
  PLUB/Sources/Models/Archive/Response/ArchiveContent.swift
  PLUB/Sources/UseCases/Archive/GetArchiveDetailUseCase.swift
  PLUB/Sources/UseCases/Archive/GetArchiveUseCase.swift
  PLUB/Sources/UseCases/Feeds/GetCommentsUseCase.swift
  PLUB/Sources/UseCases/Feeds/PostCommentUseCase.swift
  PLUB/Sources/Views/Home/Archive/ArchivePopUpViewController.swift
  PLUB/Sources/Views/Home/Archive/ArchiveViewController.swift
  PLUB/Sources/Views/Home/Archive/ArchiveViewModel.swift
  PLUB/Sources/Views/Home/Archive/Cell/ArchiveCollectionViewCell.swift
  PLUB/Sources/Views/Home/Archive/Cell/ArchiveDetailCollectionViewCell.swift
  PLUB/Sources/Views/Home/Archive/ViewModel/ArchivePopUpViewModel.swift
  PLUB/Sources/Views/Home/Archive/ViewModel/ArchiveViewModel.swift
Labels: 😎 Enhancement, D+2, 📕Archive

#296 [CHORE] 호스트에 따른 UI
  PLUB/Sources/Models/Recruitment/Response/DetailRecruitmentResponse.swift
  PLUB/Sources/Views/Home/BookmarkViewController.swift
  PLUB/Sources/Views/Home/DetailRecruitmentViewController.swift
  PLUB/Sources/Views/Home/HomeViewController.swift
  PLUB/Sources/Views/Home/Model/SelectedCategoryCollectionViewCellModel.swift
  PLUB/Sources/Views/Home/SearchInputViewController.swift
  PLUB/Sources/Views/Home/SelectedCategoryViewController.swift
  PLUB/Sources/Views/Home/ViewModel/DetailRecruitmentViewModel.swift
  PLUB/Sources/Views/MyPage/Recruiting/RecruitingViewController.swift
  PLUB/Sources/Views/MyPage/Waiting/WaitingViewController.swift
Labels: 😎 Enhancement, 🏠 Home, D+0

#295 [FEAT] 모임 나가기/종료 기능 구현
  PLUB.xcodeproj/project.pbxproj
  PLUB/Sources/Models/Meeting/Response/MeetingMemberResponse.swift
  PLUB/Sources/Network/Routers/MeetingRouter.swift
  PLUB/Sources/Network/Services/AuthService.swift
  PLUB/Sources/Network/Services/MeetingService.swift
  PLUB/Sources/Views/Meeting/Cell/MeetingCollectionViewCell.swift
  PLUB/Sources/Views/Meeting/MeetingViewController.swift
  PLUB/Sources/Views/Meeting/MeetingViewModel.swift
Labels: 👨‍👩‍👧‍👦 Meeting, D+2

#298 댓글 삭제 API 연동
  PLUB.xcodeproj/project.pbxproj
  PLUB/Sources/Models/Feeds/FeedsContent.swift
  PLUB/Sources/UseCases/Feeds/DeleteCommentUseCase.swift
  PLUB/Sources/Views/Home/Clipboard/BoardDetailViewController.swift
  PLUB/Sources/Views/Home/Clipboard/ClipboardViewController.swift
  PLUB/Sources/Views/Home/Clipboard/Component/CommentOptionBottomSheetViewController.swift
  PLUB/Sources/Views/Home/Clipboard/ViewModel/BoardDetailViewModel.swift
  PLUB/Sources/Views/Home/MainPage/MainPageViewController.swift
Labels: 😎 Enhancement, 🍎 ConfigureUI, D+2, 🥳MainPage

#301 [FEAT] 게시판 생성 시 이미지 업로드 코드 추가
  PLUB/Sources/Models/Image/Request/UploadImageRequest.swift
  PLUB/Sources/Views/Home/Archive/ViewModel/ArchiveViewModel.swift
  PLUB/Sources/Views/Home/MainPage/CreateBoardViewController.swift
  PLUB/Sources/Views/Home/MainPage/ViewModel/CreateBoardViewModel.swift
Labels: 😎 Enhancement, D+1, 🥳MainPage

#303 댓글 수정 기능 구현
  PLUB.xcodeproj/project.pbxproj
  PLUB/Sources/Models/Feeds/CommentContent.swift
  PLUB/Sources/UseCases/Feeds/EditCommentUseCase.swift
  PLUB/Sources/Views/Home/Clipboard/BoardDetailViewController.swift
  PLUB/Sources/Views/Home/Clipboard/ClipboardViewController.swift
  PLUB/Sources/Views/Home/Clipboard/Component/CommentInputView.swift
  PLUB/Sources/Views/Home/Clipboard/Component/CommentOptionBottomSheetViewController.swift
  PLUB/Sources/Views/Home/Clipboard/Component/CommentOptionDecoratorView.swift
  PLUB/Sources/Views/Home/Clipboard/ViewModel/BoardDetailViewModel.swift
  PLUB/Sources/Views/Home/MainPage/MainPageViewController.swift
Labels: 🐛 bug, 😎 Enhancement, 🍎 ConfigureUI, D+1, 🥳MainPage

#300 아카이브 업로드 UI 구현
  PLUB.xcodeproj/project.pbxproj
  PLUB/Sources/Views/Home/Archive/ArchiveUploadViewController.swift
  PLUB/Sources/Views/Home/Archive/ArchiveViewController.swift
  PLUB/Sources/Views/Home/Archive/Cell/ArchiveUploadCollectionViewCell.swift
  PLUB/Sources/Views/Home/Archive/Component/ArchiveUploadHeaderView.swift
  PLUB/Sources/Views/Home/Archive/ViewModel/ArchiveUploadViewModel.swift
Labels: 🍎 ConfigureUI, D+2, 📕Archive

#309 댓글 페이지 - 개선사항 구현 및 버그 수정
  PLUB.xcodeproj/project.pbxproj
  PLUB/Sources/Models/Feeds/CommentContent.swift
  PLUB/Sources/Views/Home/Clipboard/BoardDetailViewController.swift
  PLUB/Sources/Views/Home/Clipboard/ClipboardViewController.swift
  PLUB/Sources/Views/Home/Clipboard/Component/CommentInputView.swift
  PLUB/Sources/Views/Home/Clipboard/ViewModel/BoardDetailViewModel.swift
  PLUB/Sources/Views/Home/Clipboard/ViewModel/BoardDetailViewModelFactory.swift
  PLUB/Sources/Views/Home/MainPage/MainPageViewController.swift
Labels: 🐛 bug, 😎 Enhancement, 🥳MainPage

#310 [FEAT] 지원서 수정 기능 구현
  PLUB.xcodeproj/project.pbxproj
  PLUB/Sources/Models/Recruitment/Response/InquireApplicantResponse.swift
  PLUB/Sources/Network/Routers/RecruitmentRouter.swift
  PLUB/Sources/Network/Services/RecruitmentService.swift
  PLUB/Sources/UseCases/Recruitment/EditApplicationUseCase.swift
  PLUB/Sources/Views/MyPage/Recruiting/Cell/RecruitingSectionHeaderView.swift
  PLUB/Sources/Views/MyPage/Waiting/EditApplication/EditApplicationViewController.swift
  PLUB/Sources/Views/MyPage/Waiting/EditApplication/EditApplicationViewModel.swift
  PLUB/Sources/Views/MyPage/Waiting/WaitingViewController.swift
  PLUB/Sources/Views/MyPage/Waiting/WaitingViewModel.swift
Labels: 🍎 ConfigureUI, D+2, 👤 MyPage

#311 아카이브 업로드 Cell 구현 및 구조 정리
  PLUB.xcodeproj/project.pbxproj
  PLUB/Assets.xcassets/Home/Archive/xMarkCircle.imageset/Contents.json
  PLUB/Assets.xcassets/Home/Archive/xMarkCircle.imageset/xMarkCircle.png
  PLUB/Assets.xcassets/Home/Archive/xMarkCircle.imageset/xMarkCircle@2x.png
  PLUB/Assets.xcassets/Home/Archive/xMarkCircle.imageset/xMarkCircle@3x.png
  PLUB/Sources/Views/Home/Archive/ArchiveUploadViewController.swift
  PLUB/Sources/Views/Home/Archive/ArchiveViewController.swift
  PLUB/Sources/Views/Home/Archive/Cell/ArchiveUploadCell.swift
  PLUB/Sources/Views/Home/Archive/Cell/ArchiveUploadCollectionViewCell.swift
  PLUB/Sources/Views/Home/Archive/Cell/ArchiveUploadedPictureCell.swift
  PLUB/Sources/Views/Home/Archive/Component/ArchiveUploadHeaderView.swift
  PLUB/Sources/Views/Home/Archive/ViewModel/ArchiveUploadViewModel.swift
  PLUB/Sources/Views/Home/Archive/ViewModel/ArchiveUploadViewModelFactory.swift
  PLUB/Sources/Views/Home/Archive/ViewModel/ArchiveViewModel.swift
Labels: 😎 Enhancement, 🍎 ConfigureUI, D+1, 📕Archive

#312 [FEAT] 강퇴하기 기능 구현
  PLUB.xcodeproj/project.pbxproj
  PLUB/Sources/Network/Routers/MeetingRouter.swift
  PLUB/Sources/UseCases/Meeting/ExportMeetingMemberUseCase.swift
  PLUB/Sources/UseCases/Meeting/InquireMeetingMemberUseCase.swift
  PLUB/Sources/Views/Meeting/Export/Cell/ExportTableViewCell.swift
  PLUB/Sources/Views/Meeting/Export/ExportViewController.swift
  PLUB/Sources/Views/Meeting/Export/ExportViewModel.swift
  PLUB/Sources/Views/Meeting/MeetingViewController.swift
  PLUB/Sources/Views/MyPage/Recruiting/Component/CustomAlertView.swift
Labels: 🍎 ConfigureUI, 👨‍👩‍👧‍👦 Meeting, D+1

#315 로그인 포매팅 버그 수정 + AuthService 리팩토링
  PLUB/Configuration/Manager/UserManager.swift
  PLUB/Sources/Network/Foundation/Interceptor.swift
  PLUB/Sources/Network/Services/AuthService.swift
  PLUB/Sources/Views/Login/ViewController/LoginViewController.swift
  PLUB/Sources/Views/Login/ViewController/SignUpViewController.swift
  PLUB/Sources/Views/Login/ViewModel/SignUpViewModel.swift
  PLUB/Sources/Views/Splash/SplashViewModel.swift
Labels: 🐛 bug, ✋ Login, D+2, ♻️Refactoring

#317 작성된 댓글 날짜 파싱
  PLUB/Configuration/Utils/DateFormatterFactory.swift
  PLUB/Sources/Views/Home/Clipboard/Cell/BoardDetailCollectionViewCell.swift
Labels: 😎 Enhancement, 🍎 ConfigureUI, D+2, 🥳MainPage

#314 [FEAT] 아카이브 업로드 기능 구현
  PLUB.xcodeproj/project.pbxproj
  PLUB/Sources/Models/Image/Request/UploadImageRequest.swift
  PLUB/Sources/Network/Routers/ImageRouter.swift
  PLUB/Sources/Network/Services/ImageService.swift
  PLUB/Sources/UseCases/Archive/EditArchiveUseCase.swift
  PLUB/Sources/UseCases/Archive/GetArchiveDetailUseCase.swift
  PLUB/Sources/UseCases/Archive/UploadArchiveUseCase.swift
  PLUB/Sources/UseCases/Image/DeleteImageUseCase.swift
  PLUB/Sources/UseCases/Image/UploadImageUseCase.swift
  PLUB/Sources/Views/Home/Archive/ArchiveUploadViewController.swift
  PLUB/Sources/Views/Home/Archive/Cell/ArchiveUploadedPictureCell.swift
  PLUB/Sources/Views/Home/Archive/ViewModel/ArchiveUploadViewModel.swift
  PLUB/Sources/Views/Home/Archive/ViewModel/ArchiveUploadViewModelFactory.swift
Labels: 😎 Enhancement, 🍎 ConfigureUI, D+2, 📕Archive

#322 아카이브 화면 - 바텀시트 구현
  PLUB.xcodeproj/project.pbxproj
  PLUB/Sources/Views/Home/Archive/ArchiveViewController.swift
  PLUB/Sources/Views/Home/Archive/Cell/ArchiveCollectionViewCell.swift
  PLUB/Sources/Views/Home/Archive/Component/ArchiveBottomSheetViewController.swift
  PLUB/Sources/Views/Home/Archive/ViewModel/ArchiveViewModel.swift
Labels: 😎 Enhancement, 🍎 ConfigureUI, D+2, 📕Archive

#316 댓글 작성란 - 프로필 이미지 UI 구현
  PLUB/Sources/Views/Home/Clipboard/Component/CommentInputView.swift
Labels: 🍎 ConfigureUI, D+2, 🥳MainPage, ♻️Refactoring

#319 BoardDetailViewModel UseCase 리팩토링
  PLUB.xcodeproj/project.pbxproj
  PLUB/Assets.xcassets/Home/Clipboard/heart.imageset/Contents.json
  PLUB/Assets.xcassets/Home/Clipboard/heart.imageset/ant-design_heart-filled.png
  PLUB/Assets.xcassets/Home/Clipboard/heart.imageset/ant-design_heart-filled@2x.png
  PLUB/Assets.xcassets/Home/Clipboard/heart.imageset/ant-design_heart-filled@3x.png
  PLUB/Assets.xcassets/Home/Clipboard/heart.imageset/heart.png
  PLUB/Assets.xcassets/Home/Clipboard/heart.imageset/heart@2x.png
  PLUB/Assets.xcassets/Home/Clipboard/heart.imageset/heart@3x.png
  PLUB/Assets.xcassets/Home/Clipboard/heartFilled.imageset/heartFilled.png
  PLUB/Assets.xcassets/Home/Clipboard/heartFilled.imageset/heartFilled@2x.png
  PLUB/Assets.xcassets/Home/Clipboard/heartFilled.imageset/heartFilled@3x.png
  PLUB/Sources/Models/Feeds/FeedsContent.swift
  PLUB/Sources/UseCases/Feeds/DeleteCommentUseCase.swift
  PLUB/Sources/UseCases/Feeds/EditCommentUseCase.swift
  PLUB/Sources/UseCases/Feeds/GetCommentsUseCase.swift
  PLUB/Sources/UseCases/Feeds/GetFeedDetailUseCase.swift
  PLUB/Sources/UseCases/Feeds/LikeFeedUseCase.swift
  PLUB/Sources/UseCases/Feeds/PostCommentUseCase.swift
  PLUB/Sources/Views/Home/Clipboard/Component/BoardDetailCollectionHeaderView.swift
  PLUB/Sources/Views/Home/Clipboard/ViewModel/BoardDetailViewModel.swift
  PLUB/Sources/Views/Home/Clipboard/ViewModel/BoardDetailViewModelFactory.swift
Labels: D+2, 🥳MainPage, ♻️Refactoring

#320 알림 UI 구현
  PLUB.xcodeproj/project.pbxproj
  PLUB/Configuration/Extensions/Ex+UIButton.swift
  PLUB/Sources/Views/Notification/NotificationCollectionViewCell.swift
  PLUB/Sources/Views/Notification/NotificationViewController.swift
  PLUB/Sources/Views/Notification/NotificationViewModel.swift
  PLUB/Sources/Views/PLUBTabBarController.swift
Labels: 😎 Enhancement, 🍎 ConfigureUI, D+2, 🔔Notification

#324 [FIX] 지원질문에 대한 오류 해결
  PLUB/Sources/Models/Recruitment/Request/ApplyForRecruitmentRequest.swift
Labels: 🐛 bug, 🏠 Home, D+0

#326 [FIX] 모집상세글 화면재진입시 프로필 중복
  PLUB/Sources/Views/Home/Component/IntroduceCategoryInfoView.swift
  PLUB/Sources/Views/Home/Component/MeetingIntroduceView.swift
  PLUB/Sources/Views/Home/Component/ParticipantListView.swift
  PLUB/Sources/Views/Home/DetailRecruitmentViewController.swift
  PLUB/Sources/Views/Home/ViewModel/DetailRecruitmentViewModel.swift
Labels: 🐛 bug, 🏠 Home, D+0
