Repository PLUB2022/PLUB-iOS, pull requests merged in 2023-05, with the labels that each got.

#328 [FIX] 업로드 시 리퀘스트 여러개 보내는 문제 해결
  PLUB/Sources/Views/Home/MainPage/ViewModel/CreateBoardViewModel.swift
Labels: 🐛 bug, D+0, 🥳MainPage

#329 [REFACTOR] 댓글 내부 로직 리팩토링 + 버그 픽스
  PLUB/Sources/Views/Home/Clipboard/BoardDetailViewController.swift
  PLUB/Sources/Views/Home/Clipboard/Cell/BoardDetailCollectionViewCell.swift
  PLUB/Sources/Views/Home/Clipboard/ViewModel/BoardDetailViewModel.swift
Labels: 🐛 bug, 🍎 ConfigureUI, D+0, 🥳MainPage, ♻️Refactoring

#334 아카이브 구현 완료
  PLUB.xcodeproj/project.pbxproj
  PLUB/Sources/Network/Routers/ImageRouter.swift
  PLUB/Sources/UseCases/Archive/DeleteArchiveUseCase.swift
  PLUB/Sources/Views/Home/Archive/ArchiveUploadViewController.swift
  PLUB/Sources/Views/Home/Archive/ArchiveViewController.swift
  PLUB/Sources/Views/Home/Archive/ViewModel/ArchiveUploadViewModel.swift
  PLUB/Sources/Views/Home/Archive/ViewModel/ArchiveViewModel.swift
  PLUB/Sources/Views/Home/MainPage/MainPageViewController.swift
Labels: 😎 Enhancement, D+1, 📕Archive

#336 게시글 좋아요 기능 구현
  PLUB/Sources/Views/Home/Clipboard/ClipboardViewController.swift
  PLUB/Sources/Views/Home/Clipboard/Component/BoardDetailCollectionHeaderView.swift
  PLUB/Sources/Views/Home/Clipboard/Model/BoardModel.swift
  PLUB/Sources/Views/Home/Clipboard/ViewModel/BoardDetailViewModel.swift
  PLUB/Sources/Views/Home/Clipboard/ViewModel/BoardDetailViewModelFactory.swift
  PLUB/Sources/Views/Home/MainPage/MainPageViewController.swift
Labels: 😎 Enhancement, 🍎 ConfigureUI, D+2, 🥳MainPage

#339 네비게이션 커스텀 백 버튼 제거
  PLUB/Configuration/Base/BaseViewController.swift
  PLUB/Sources/Views/Home/ApplyQuestionViewController.swift
  PLUB/Sources/Views/Home/BookmarkViewController.swift
  PLUB/Sources/Views/Home/DetailRecruitmentViewController.swift
  PLUB/Sources/Views/Home/HomeViewController.swift
  PLUB/Sources/Views/Home/MainPage/AddTodoViewController.swift
  PLUB/Sources/Views/Home/MainPage/CreateBoardViewController.swift
  PLUB/Sources/Views/Home/MainPage/MainPageViewController.swift
  PLUB/Sources/Views/Home/MeetingSchedule/MeetingScheduleViewController.swift
  PLUB/Sources/Views/Home/RecruitmentFilterViewController.swift
  PLUB/Sources/Views/Home/RegisterInterestViewController.swift
  PLUB/Sources/Views/Home/SearchInputViewController.swift
  PLUB/Sources/Views/Home/SelectedCategoryViewController.swift
  PLUB/Sources/Views/Login/ViewController/SignUpViewController.swift
  PLUB/Sources/Views/Meeting/CreateMeeting/CreateMeetingViewController.swift
  PLUB/Sources/Views/Meeting/CreateMeeting/ViewController/MeetingSummaryViewController.swift
  PLUB/Sources/Views/Meeting/Export/ExportViewController.swift
  PLUB/Sources/Views/Meeting/Schedule/CreateSchedule/CreateScheduleViewController.swift
  PLUB/Sources/Views/MyPage/ProfileEdit/ProfileEditViewController.swift
  PLUB/Sources/Views/MyPage/Recruiting/RecruitingViewController.swift
  PLUB/Sources/Views/MyPage/Setting/SettingViewController.swift
  PLUB/Sources/Views/MyPage/Waiting/EditApplication/EditApplicationViewController.swift
  PLUB/Sources/Views/MyPage/Waiting/WaitingViewController.swift
Labels: D+2, ♻️Refactoring

#327 [FEAT] 활동중인 모임 > 내 할일 UI 작업
  PLUB.xcodeproj/project.pbxproj
  PLUB/Assets.xcassets/MyPage/pointActived.imageset/Contents.json
  PLUB/Assets.xcassets/MyPage/pointActived.imageset/pointActived.png
  PLUB/Assets.xcassets/MyPage/pointActived.imageset/pointActived@2x.png
  PLUB/Assets.xcassets/MyPage/pointActived.imageset/pointActived@3x.png
  PLUB/Assets.xcassets/MyPage/pointInactived.imageset/Contents.json
  PLUB/Assets.xcassets/MyPage/pointInactived.imageset/pointInactived.png
  PLUB/Assets.xcassets/MyPage/pointInactived.imageset/pointInactived@2x.png
  PLUB/Assets.xcassets/MyPage/pointInactived.imageset/pointInactived@3x.png
  PLUB/Configuration/Utils/DateFormatterFactory.swift
  PLUB/Sources/Models/MyPage/Response/MyTodoResponse.swift
  PLUB/Sources/Network/Routers/MyPageRouter.swift
  PLUB/Sources/Network/Services/MyPageService.swift
  PLUB/Sources/UseCases/MyPage/InquireMyTodoUseCase.swift
  PLUB/Sources/Views/MyPage/Active/ActiveMeetingViewController.swift
  PLUB/Sources/Views/MyPage/Active/ActiveMeetingViewModel.swift
  PLUB/Sources/Views/MyPage/Active/Cell/MyTodoSectionHeaderView.swift
  PLUB/Sources/Views/MyPage/Active/Cell/MyTodoTableViewCell.swift
  PLUB/Sources/Views/MyPage/Active/Component/TodoListView.swift
  PLUB/Sources/Views/MyPage/MyPageViewController.swift
  PLUB/Sources/Views/MyPage/Recruiting/Component/RecruitingHeaderView.swift
Labels: 🍎 ConfigureUI, D+3, 👤 MyPage

#345 [ FIX] 모임셀 사이즈 > 디바이스 비율에 맞게 수정
  PLUB/Sources/Views/Meeting/Cell/MeetingCollectionMoreCell.swift
  PLUB/Sources/Views/Meeting/MeetingViewController.swift
Labels: 🍎 ConfigureUI, 👨‍👩‍👧‍👦 Meeting, D+1

#340 [FEAT] 메인페이지 일부 API 연동
  PLUB.xcodeproj/project.pbxproj
  PLUB/Configuration/Utils/DateFormatterFactory.swift
  PLUB/Sources/Models/Recruitment/Response/DetailRecruitmentResponse.swift
  PLUB/Sources/Models/Todolist/Response/InquireAllTodoTimelineResponse.swift
  PLUB/Sources/Models/Todolist/Response/InquireTodolistResponse.swift
  PLUB/Sources/Network/Routers/TodolistRouter.swift
  PLUB/Sources/Network/Services/TodolistService.swift
  PLUB/Sources/Views/Home/MainPage/Cell/TodoCollectionHeaderView.swift
  PLUB/Sources/Views/Home/MainPage/Cell/TodoCollectionViewCell.swift
  PLUB/Sources/Views/Home/MainPage/Component/CheckTodoView.swift
  PLUB/Sources/Views/Home/MainPage/MainPageViewController.swift
  PLUB/Sources/Views/Home/MainPage/TodolistViewController.swift
  PLUB/Sources/Views/Home/MainPage/ViewModel/TodolistViewModel.swift
  PLUB/Sources/Views/Meeting/Export/ExportViewModel.swift
Labels: 😎 Enhancement, D+0, 🥳MainPage

#347 [FIX] 빌드오류에 따른 코드 수정
  PLUB/Configuration/Utils/DateFormatterFactory.swift
Labels: 🔥hotfix

#349 [FIX] 상태코드 200을 제외한 모든 에러가 Alamofire error로 출력되는 버그 수정
  PLUB/Sources/Network/Foundation/BaseService.swift
Labels: 🐛 bug, D+2

#350 [FEAT] 투두리스트 일부 API 연동
  PLUB.xcodeproj/project.pbxproj
  PLUB/Configuration/Utils/DateFormatterFactory.swift
  PLUB/Sources/Models/Todolist/Request/ProofTodolistRequest.swift
  PLUB/Sources/Models/Todolist/Response/CompleteTodolistResponse.swift
  PLUB/Sources/Models/Todolist/Response/LikeTodolistResponse.swift
  PLUB/Sources/Network/Routers/TodolistRouter.swift
  PLUB/Sources/Network/Services/TodolistService.swift
  PLUB/Sources/Views/Home/MainPage/Cell/TodoCollectionViewCell.swift
  PLUB/Sources/Views/Home/MainPage/Component/CheckTodoView.swift
  PLUB/Sources/Views/Home/MainPage/TodolistViewController.swift
  PLUB/Sources/Views/Home/MainPage/ViewModel/TodolistViewModel.swift
Labels: 😎 Enhancement, D+0, 🥳MainPage

#353 [FEAT] 메인페이지 투두리스트 인증 API 연동
  PLUB.xcodeproj/project.pbxproj
  PLUB/Assets.xcassets/Home/Component/checkFilledMain.imageset/Contents.json
  PLUB/Assets.xcassets/Home/Component/checkFilledMain.imageset/Group 658.png
  PLUB/Assets.xcassets/Home/Component/checkFilledMain.imageset/Group 658@2x.png
  PLUB/Assets.xcassets/Home/Component/checkFilledMain.imageset/Group 658@3x.png
  PLUB/Configuration/Extensions/Ex+String.swift
  PLUB/Sources/Views/Home/HomeViewController.swift
  PLUB/Sources/Views/Home/MainPage/BoardViewController.swift
  PLUB/Sources/Views/Home/MainPage/Cell/TodoCollectionViewCell.swift
  PLUB/Sources/Views/Home/MainPage/Component/CheckTodoView.swift
  PLUB/Sources/Views/Home/MainPage/Component/TodoAlertController.swift
  PLUB/Sources/Views/Home/MainPage/Component/TodoInfoView.swift
  PLUB/Sources/Views/Home/MainPage/TodolistViewController.swift
  PLUB/Sources/Views/Home/MainPage/ViewModel/TodolistViewModel.swift
  PLUB/Sources/Views/Home/RegisterInterestViewController.swift
  PLUB/Sources/Views/Home/SearchInputViewController.swift
  PLUB/Sources/Views/Home/SelectedCategoryViewController.swift
  PLUB/Sources/Views/Home/ViewModel/DetailRecruitmentViewModel.swift
Labels: 😎 Enhancement, 🍎 ConfigureUI, D+0, 🥳MainPage

#352 [FEAT] 마이페이지 > 활동중인 모임
  PLUB.xcodeproj/project.pbxproj
  PLUB/Sources/Models/MyPage/Response/MyFeedResponse.swift
  PLUB/Sources/Models/MyPage/Response/MyTodoResponse.swift
  PLUB/Sources/Network/Routers/MyPageRouter.swift
  PLUB/Sources/Network/Services/MyPageService.swift
  PLUB/Sources/UseCases/MyPage/InquireMyFeedUseCase.swift
  PLUB/Sources/Views/MyPage/Active/ActiveMeetingViewController.swift
  PLUB/Sources/Views/MyPage/Active/ActiveMeetingViewModel.swift
  PLUB/Sources/Views/MyPage/Active/Cell/MyFeedTableViewCell.swift
  PLUB/Sources/Views/MyPage/Active/Cell/MyTodoSectionHeaderView.swift
  PLUB/Sources/Views/MyPage/Active/Cell/MyTodoTableViewCell.swift
  PLUB/Sources/Views/MyPage/Active/Cell/NoActivityTableViewCell.swift
  PLUB/Sources/Views/MyPage/Active/Component/TodoListView.swift
  PLUB/Sources/Views/MyPage/MyPageViewController.swift
Labels: 🍎 ConfigureUI, D+2, 👤 MyPage

#358 바텀시트 Constraint 리팩토링 + 애니메이션 코드 적용
  PLUB/Configuration/CommonClass/BottomSheetViewController.swift
  PLUB/Sources/Views/Home/Archive/Component/ArchiveBottomSheetViewController.swift
  PLUB/Sources/Views/Home/Clipboard/Component/CommentOptionBottomSheetViewController.swift
  PLUB/Sources/Views/Home/Component/ParticipantBottomSheetViewController.swift
  PLUB/Sources/Views/Home/Component/SortBottomSheetViewController.swift
  PLUB/Sources/Views/Home/DetailRecruitmentViewController.swift
  PLUB/Sources/Views/Home/MainPage/BoardViewController.swift
  PLUB/Sources/Views/Home/MainPage/Component/BoardBottomSheetViewController.swift
  PLUB/Sources/Views/Home/MainPage/Component/TodoAlertController.swift
  PLUB/Sources/Views/Home/MainPage/Component/TodolistBottomSheetViewController.swift
  PLUB/Sources/Views/Home/MainPage/CreateBoardViewController.swift
  PLUB/Sources/Views/Home/MainPage/TodolistViewController.swift
  PLUB/Sources/Views/Home/MeetingSchedule/MeetingScheduleViewController.swift
  PLUB/Sources/Views/Home/SearchInputViewController.swift
  PLUB/Sources/Views/Home/SelectedCategoryViewController.swift
  PLUB/Sources/Views/Login/ViewController/BirthViewController.swift
  PLUB/Sources/Views/Login/ViewController/ProfileViewController.swift
  PLUB/Sources/Views/Meeting/CreateMeeting/Component/DateBottomSheetViewController.swift
  PLUB/Sources/Views/Meeting/CreateMeeting/Component/LocationBottomSheetViewController.swift
  PLUB/Sources/Views/Meeting/CreateMeeting/Component/PhotoBottomSheetViewController.swift
  PLUB/Sources/Views/Meeting/CreateMeeting/Component/QuestionDeleteBottomSheetViewController.swift
  PLUB/Sources/Views/Meeting/CreateMeeting/ViewController/MeetingDateViewController.swift
  PLUB/Sources/Views/Meeting/CreateMeeting/ViewController/MeetingIntroduceViewController.swift
  PLUB/Sources/Views/Meeting/CreateMeeting/ViewController/MeetingQuestionViewController.swift
  PLUB/Sources/Views/Meeting/EditMeeting/ViewController/GuestQuestionViewController.swift
  PLUB/Sources/Views/Meeting/EditMeeting/ViewController/MeetingInfoViewController.swift
  PLUB/Sources/Views/Meeting/EditMeeting/ViewController/RecruitPostViewController.swift
  PLUB/Sources/Views/Meeting/Schedule/CreateSchedule/Component/ScheduleBottomSheetViewController.swift
  PLUB/Sources/Views/Meeting/Schedule/CreateSchedule/CreateScheduleViewController.swift
  PLUB/Sources/Views/MyPage/ProfileEdit/ProfileEditViewController.swift
Labels: 🍎 ConfigureUI, D+2, ♻️Refactoring

#356 [FEAT] 설정 > 로그아웃 기능 구현
  PLUB.xcodeproj/project.pbxproj
  PLUB/Sources/UseCases/Auth/LogoutUseCase.swift
  PLUB/Sources/Views/MyPage/MyPageViewController.swift
  PLUB/Sources/Views/MyPage/Setting/Component/SettingDetailSubView.swift
  PLUB/Sources/Views/MyPage/Setting/SettingViewController.swift
  PLUB/Sources/Views/MyPage/Setting/SettingViewModel.swift
Labels: D+2, 👤 MyPage

#362 [FIX] 모임 생성 완료 후, 모임 리스트 업데이트
  PLUB.xcodeproj/project.pbxproj
  PLUB/Configuration/Extensions/Ex+Notification.Name.swift
  PLUB/Configuration/Lottie/Meeting/CreateMeeting.json
  PLUB/Sources/Views/Meeting/CreateMeeting/ViewController/MeetingCreateSuccessViewController.swift
  PLUB/Sources/Views/Meeting/CreateMeeting/ViewController/MeetingSummaryViewController.swift
  PLUB/Sources/Views/Meeting/CreateMeeting/ViewModel/MeetingSummaryViewModel.swift
  PLUB/Sources/Views/Meeting/MeetingViewController.swift
Labels: 🐛 bug, 👨‍👩‍👧‍👦 Meeting, D+1

#360 디자인 수정된 토스트 적용
  PLUB/Assets.xcassets/Toast/Contents.json
  PLUB/Assets.xcassets/Toast/checkCircle.imageset/Contents.json
  PLUB/Assets.xcassets/Toast/checkCircle.imageset/checkCircle.svg
  PLUB/Assets.xcassets/Toast/exclamationCircle.imageset/Contents.json
  PLUB/Assets.xcassets/Toast/exclamationCircle.imageset/exclamationCircle.svg
  PLUB/Configuration/Utils/PLUBToast.swift
Labels: 😎 Enhancement, 🍎 ConfigureUI, D+2

#359 [FEAT] 투두추가화면과 관련된 UI 프로토타입 구현
  PLUB.xcodeproj/project.pbxproj
  PLUB/Assets.xcassets/Home/Clipboard/meatballMenuBlack.imageset/Component 1.png
  PLUB/Assets.xcassets/Home/Clipboard/meatballMenuBlack.imageset/Component 1@2x.png
  PLUB/Assets.xcassets/Home/Clipboard/meatballMenuBlack.imageset/Component 1@3x.png
  PLUB/Assets.xcassets/Home/Clipboard/meatballMenuBlack.imageset/Contents.json
  PLUB/Sources/Views/Home/MainPage/AddTodoViewController.swift
  PLUB/Sources/Views/Home/MainPage/Component/AddTodoView.swift
Labels: 🍎 ConfigureUI, D+0, 🥳MainPage

#365 [FEAT] 금일여부에 따른 라벨 색상 변경
  PLUB/Sources/Views/Home/MainPage/Component/AddTodoView.swift
Labels: 😎 Enhancement, D+0, 🥳MainPage

#366 게시글 옵션 클릭시 바텀시트 띄우기
  PLUB/Sources/Views/Home/Clipboard/BoardDetailViewController.swift
  PLUB/Sources/Views/Home/Clipboard/ViewModel/BoardDetailViewModel.swift
  PLUB/Sources/Views/Home/MainPage/BoardViewController.swift
  PLUB/Sources/Views/Home/MainPage/Component/BoardBottomSheetViewController.swift
Labels: 😎 Enhancement, 🍎 ConfigureUI, D+2, 🥳MainPage

#367 [FEAT] 투두추가 일부 API 연동
  PLUB.xcodeproj/project.pbxproj
  PLUB/Sources/Models/Todolist/Request/CreateTodoRequest.swift
  PLUB/Sources/Models/Todolist/Response/CreateTodoResponse.swift
  PLUB/Sources/Models/Todolist/Response/InquireTodolistByDateResponse.swift
  PLUB/Sources/Network/Routers/TodolistRouter.swift
  PLUB/Sources/Network/Services/TodolistService.swift
  PLUB/Sources/Views/Home/MainPage/AddTodoListViewController.swift
  PLUB/Sources/Views/Home/MainPage/Component/AddTodoView.swift
  PLUB/Sources/Views/Home/MainPage/Component/AddTodolistBottomSheetViewController.swift
  PLUB/Sources/Views/Home/MainPage/Component/TodoView.swift
  PLUB/Sources/Views/Home/MainPage/MainPageViewController.swift
  PLUB/Sources/Views/Home/MainPage/ViewModel/AddTodoListViewModel.swift
Labels: 😎 Enhancement, 🍎 ConfigureUI, D+1, 🥳MainPage

#369 게시글 삭제 기능 구현 및 BoardBottomSheet 추상화
  PLUB.xcodeproj/project.pbxproj
  PLUB/Sources/UseCases/Feeds/DeleteFeedUseCase.swift
  PLUB/Sources/Views/Home/Clipboard/BoardDetailViewController.swift
  PLUB/Sources/Views/Home/Clipboard/ViewModel/BoardDetailViewModel.swift
  PLUB/Sources/Views/Home/Clipboard/ViewModel/BoardDetailViewModelFactory.swift
  PLUB/Sources/Views/Home/MainPage/Component/BoardBottomSheetViewController.swift
Labels: 😎 Enhancement, 🍎 ConfigureUI, D+2, 🥳MainPage

#370 [FIX] 메인페이지 투두리스트 UI 오류 수정
  PLUB/Sources/Views/Home/MainPage/Cell/TodoCollectionViewCell.swift
  PLUB/Sources/Views/Home/MainPage/Component/CheckTodoView.swift
  PLUB/Sources/Views/Home/MainPage/TodolistViewController.swift
  PLUB/Sources/Views/Home/MainPage/ViewModel/TodolistViewModel.swift
Labels: 🐛 bug, 🍎 ConfigureUI, D+1, 🥳MainPage

#371 [FEAT] 최근검색어목록을 10개로 제한합니다.
  PLUB/Configuration/Manager/UserManager.swift
Labels: 😎 Enhancement, 🏠 Home, D+1

#372 [FEAT] 내 TODO, 게시물 보기 기능 구현
  PLUB.xcodeproj/project.pbxproj
  PLUB/Sources/Models/MyPage/Response/MyTodoResponse.swift
  PLUB/Sources/Views/MyPage/Active/ActiveMeetingViewController.swift
  PLUB/Sources/Views/MyPage/Active/Cell/MyFeedTableViewCell.swift
  PLUB/Sources/Views/MyPage/Active/Cell/MyTodoSectionHeaderView.swift
  PLUB/Sources/Views/MyPage/Active/MyFeed/MyFeedViewController.swift
  PLUB/Sources/Views/MyPage/Active/MyFeed/MyFeedViewModel.swift
  PLUB/Sources/Views/MyPage/Active/MyTodo/MyTodoViewController.swift
  PLUB/Sources/Views/MyPage/Active/MyTodo/MyTodoViewModel.swift
Labels: 🍎 ConfigureUI, D+2, 👤 MyPage

#378 [FEAT] 메인페이지 모임타이틀 전달
  PLUB.xcodeproj/project.pbxproj
  PLUB/Sources/Views/Home/Component/IntroduceCategoryTitleView.swift
  PLUB/Sources/Views/Home/DetailRecruitmentViewController.swift
  PLUB/Sources/Views/Home/MainPage/Component/MainPageHeaderView.swift
  PLUB/Sources/Views/Home/MainPage/Component/MainPageNavigationView.swift
  PLUB/Sources/Views/Home/MainPage/Component/TodoPlannerBottomSheetViewController.swift
  PLUB/Sources/Views/Home/MainPage/CreateBoardViewController.swift
  PLUB/Sources/Views/Home/MainPage/MainPageViewController.swift
  PLUB/Sources/Views/Home/MainPage/TodoPlannerViewController.swift
  PLUB/Sources/Views/Home/MainPage/ViewModel/TodoPlannerViewModel.swift
  PLUB/Sources/Views/Meeting/MeetingViewController.swift
Labels: 😎 Enhancement, D+0, 🥳MainPage

#382 [FEAT] 투두인증모달 구현
  PLUB.xcodeproj/project.pbxproj
  PLUB/Configuration/Extensions/Ex+UILabel.swift
  PLUB/Sources/Network/Services/TodolistService.swift
  PLUB/Sources/Views/Home/MainPage/Component/ProofTodoAlertViewController.swift
  PLUB/Sources/Views/Home/MainPage/Component/TodoAlertController.swift
  PLUB/Sources/Views/Home/MainPage/Component/TodoAlertView.swift
  PLUB/Sources/Views/Home/MainPage/TodolistViewController.swift
  PLUB/Sources/Views/Home/MainPage/ViewModel/TodolistViewModel.swift
  PLUB/Sources/Views/Meeting/CreateMeeting/Component/NoLocationView.swift
Labels: 😎 Enhancement, 🍎 ConfigureUI, D+1, 🥳MainPage

#388 [FEAT] 활동중인 모임 셀 세부 기능 구현
  PLUB/Assets.xcassets/MyPage/checkboxActivated.imageset/Contents.json
  PLUB/Assets.xcassets/MyPage/checkboxActivated.imageset/checkboxActivated.png
  PLUB/Assets.xcassets/MyPage/checkboxActivated.imageset/checkboxActivated@2x.png
  PLUB/Assets.xcassets/MyPage/checkboxActivated.imageset/checkboxActivated@3x.png
  PLUB/Assets.xcassets/MyPage/checkboxInactivated.imageset/Contents.json
  PLUB/Assets.xcassets/MyPage/checkboxInactivated.imageset/checkboxInactivated.png
  PLUB/Assets.xcassets/MyPage/checkboxInactivated.imageset/checkboxInactivated@2x.png
  PLUB/Assets.xcassets/MyPage/checkboxInactivated.imageset/checkboxInactivated@3x.png
  PLUB/Assets.xcassets/MyPage/planner.imageset/Contents.json
  PLUB/Assets.xcassets/MyPage/planner.imageset/planner.png
  PLUB/Assets.xcassets/MyPage/planner.imageset/planner@2x.png
  PLUB/Assets.xcassets/MyPage/planner.imageset/planner@3x.png
  PLUB/Sources/Models/MyPage/Response/MyTodoResponse.swift
  PLUB/Sources/Models/Todolist/Response/InquireAllTodoTimelineResponse.swift
  PLUB/Sources/Views/MyPage/Active/ActiveMeetingViewController.swift
  PLUB/Sources/Views/MyPage/Active/ActiveMeetingViewModel.swift
  PLUB/Sources/Views/MyPage/Active/Cell/MyTodoSectionHeaderView.swift
  PLUB/Sources/Views/MyPage/Active/Cell/MyTodoTableViewCell.swift
  PLUB/Sources/Views/MyPage/Active/Component/TodoListView.swift
  PLUB/Sources/Views/MyPage/Active/MyFeed/MyFeedViewController.swift
  PLUB/Sources/Views/MyPage/Active/MyFeed/MyFeedViewModel.swift
  PLUB/Sources/Views/MyPage/Active/MyTodo/MyTodoViewController.swift
  PLUB/Sources/Views/MyPage/Active/MyTodo/MyTodoViewModel.swift
  PLUB/Sources/Views/MyPage/Recruiting/Component/RecruitingHeaderView.swift
Labels: 😎 Enhancement, 🍎 ConfigureUI, D+1, 👤 MyPage

#387 [FEAT] 메인페이지 바텀시트 기능 구현
  PLUB.xcodeproj/project.pbxproj
  PLUB/Sources/Models/Todolist/Request/EditTodolistRequest.swift
  PLUB/Sources/Models/Todolist/Response/DeleteTodolistResponse.swift
  PLUB/Sources/Network/Routers/TodolistRouter.swift
  PLUB/Sources/Network/Services/TodolistService.swift
  PLUB/Sources/Views/Home/MainPage/Component/AddTodoView.swift
  PLUB/Sources/Views/Home/MainPage/Component/TodoPlannerBottomSheetViewController.swift
  PLUB/Sources/Views/Home/MainPage/Component/TodoView.swift
  PLUB/Sources/Views/Home/MainPage/Component/TodolistBottomSheetViewController.swift
  PLUB/Sources/Views/Home/MainPage/MainPageViewController.swift
  PLUB/Sources/Views/Home/MainPage/TodoPlannerViewController.swift
  PLUB/Sources/Views/Home/MainPage/TodolistViewController.swift
  PLUB/Sources/Views/Home/MainPage/ViewModel/TodoPlannerViewModel.swift
Labels: 😎 Enhancement, 🍎 ConfigureUI, D+1, 🥳MainPage

#386 [FEAT] Log 기능 강화
  PLUB/Configuration/Utils/Log.swift
  PLUB/Sources/Network/Foundation/BaseService.swift
Labels: 😎 Enhancement, D+2, ♻️Refactoring

#389 [FEAT] 설정 > 버전 기능 구현
  PLUB/Sources/Views/MyPage/Setting/Component/SettingSubview.swift
  PLUB/Sources/Views/MyPage/Setting/SettingViewController.swift
Labels: D+1, 👤 MyPage

#381 공지 UI 구현
  PLUB.xcodeproj/project.pbxproj
  PLUB/Sources/Models/Announcement/AnnouncementContent.swift
  PLUB/Sources/UseCases/Announcement/GetAnnouncementUseCase.swift
  PLUB/Sources/Views/Home/Announcement/AnnouncementCollectionViewCell.swift
  PLUB/Sources/Views/Home/Announcement/AnnouncementViewController.swift
  PLUB/Sources/Views/Home/Announcement/AnnouncementViewModel.swift
  PLUB/Sources/Views/Home/Notice/NoticeViewController.swift
Labels: 😎 Enhancement, 🍎 ConfigureUI, D+2, 🎙️Announcement

#391 [DEL] 메인페이지 헤더뷰와 관련된 코드 삭제
  PLUB.xcodeproj/project.pbxproj
  PLUB/Sources/Views/Home/MainPage/BoardViewController.swift
  PLUB/Sources/Views/Home/MainPage/Component/MainPageHeaderView.swift
  PLUB/Sources/Views/Home/MainPage/MainPageViewController.swift
Labels: 😎 Enhancement, D+0, 🥳MainPage

#393 [FEAT] 메인페이지 페이징작업
  PLUB.xcodeproj/project.pbxproj
  PLUB/Sources/Models/Auth/Request/SignUpRequest.swift
  PLUB/Sources/Views/Home/Clipboard/Cell/BoardCollectionViewCell.swift
  PLUB/Sources/Views/Home/MainPage/BoardViewController.swift
  PLUB/Sources/Views/Home/MainPage/Cell/TodoGoalHeaderView.swift
  PLUB/Sources/Views/Home/MainPage/TodolistViewController.swift
  PLUB/Sources/Views/Home/MainPage/ViewModel/BoardViewModel.swift
  PLUB/Sources/Views/Home/MainPage/ViewModel/TodolistViewModel.swift
Labels: 😎 Enhancement, D+0, 🥳MainPage

#394 [CHORE] 홈, 검색, 모집 커서페이징 로직 수정
  PLUB.xcodeproj/project.pbxproj
  PLUB/Sources/Models/Recruitment/Request/SearchParameter.swift
  PLUB/Sources/Models/Recruitment/Response/SearchRecruitmentResponse.swift
  PLUB/Sources/Network/Services/RecruitmentService.swift
  PLUB/Sources/Views/Home/Component/SortControl.swift
  PLUB/Sources/Views/Home/SearchInputViewController.swift
  PLUB/Sources/Views/Home/ViewModel/HomeViewModel.swift
  PLUB/Sources/Views/Home/ViewModel/SearchInputViewModel.swift
  PLUB/Sources/Views/Home/ViewModel/SelectedCategoryViewModel.swift
Labels: 🐛 bug, 😎 Enhancement, 🏠 Home, D+1, 🥳MainPage

#396 [CHORE] 투두플래너 타입에 따른 서로 다른 UI 구성
  PLUB/Sources/Views/Home/MainPage/Cell/TodoCollectionViewCell.swift
  PLUB/Sources/Views/Home/MainPage/Component/AddTodoView.swift
  PLUB/Sources/Views/Home/MainPage/Component/TodolistBottomSheetViewController.swift
  PLUB/Sources/Views/Home/MainPage/MainPageViewController.swift
  PLUB/Sources/Views/Home/MainPage/TodoPlannerViewController.swift
  PLUB/Sources/Views/Home/MainPage/TodolistViewController.swift
Labels: 😎 Enhancement, ✋ Help wanted, 🍎 ConfigureUI, D+1, 🥳MainPage

#397 [FEAT] 모임 설정 기능 구현
  PLUB.xcodeproj/project.pbxproj
  PLUB/Sources/Views/Meeting/EditMeeting/EditMeetingViewController.swift
  PLUB/Sources/Views/Meeting/EditMeeting/EditMeetingViewModel.swift
  PLUB/Sources/Views/Meeting/EditMeeting/ViewController/GuestQuestionViewController.swift
  PLUB/Sources/Views/Meeting/EditMeeting/ViewController/MeetingInfoViewController.swift
  PLUB/Sources/Views/Meeting/EditMeeting/ViewController/RecruitPostViewController.swift
  PLUB/Sources/Views/Meeting/EditMeeting/ViewModel/GuestQuestionViewModel.swift
  PLUB/Sources/Views/Meeting/EditMeeting/ViewModel/MeetingInfoViewModel.swift
  PLUB/Sources/Views/Meeting/EditMeeting/ViewModel/RecruitPostViewModel.swift
  PLUB/Sources/Views/MyPage/Setting/Component/SettingSubview.swift
  PLUB/Sources/Views/MyPage/Setting/SettingViewController.swift
Labels: 🍎 ConfigureUI, 👨‍👩‍👧‍👦 Meeting, D+1
